/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-Jun-2014, 10:55:55
    Author     : ljoglar
*/

html{
    height: 100%;
}

body{
    height: 100%;
}

.container{
    height: 100%;
}

.page{
    background-image:url(../img/wood-bg.jpg);
}

.mixerDesk{
    width: 430px;
    height: 550px;
    padding: 50px 0;
    margin-left: auto;
    margin-right: auto;
}




.mixerDesk ul{
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.channelMixer{
    width: 70px;
    height: 320px;
    float: left;
    margin: 5px;
}

.nameChannelMixer span{
    margin: 10px 20px;
    position: absolute;
    font: 600 1.3em/150% 'Shadows Into Light Two', Helvetica, Sans-serif;
}

.nameChannelMixer{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 7px;

    width: 82px;
    height: 45px;
    position: absolute;
    bottom: -50px;
    left: -5px;
}

.nameChannelMixer.strip1{
    background-image: url(../img/strip1.png);
/*    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 7px;

    width: 70px;
    height: 35px;
    position: absolute;
    bottom: -40px;
*/}

.nameChannelMixer.strip2{
    background-image: url(../img/strip2.png);
/*    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 7px;
    width: 70px;
    height: 35px;
    position: absolute;
    bottom: -40px;*/
}

.nameChannelMixer.strip3{
    background-image: url(../img/strip3.png);
/*    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 7px;
    width: 70px;
    height: 35px;
    position: absolute;
    bottom: -40px;*/
}

.nameChannelMixer.strip4{
    background-image: url(../img/strip4.png);
/*    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 7px;
    width: 70px;
    height: 35px;
    position: absolute;
    bottom: -40px;*/
}

.faderChannelMixer{
    width: 68px;
    height: 215px;
    float: left;
    background-image: url(../img/scalefader250.png);
    background-repeat:no-repeat;
    background-position-y: -17px;
    background-position-x: -3.5px;
    border-style:solid;
    border-color:#b7b7b7;
    border-radius:8px;
    border-width: 1px;
    position: absolute;
}

.faderChannel{
    background-image: url(../img/fader30px.png);
    background-repeat:no-repeat;
    width: 30px !important;
    height: 52px !important;
    margin: auto;
    position: absolute;
    left: 17px;
    bottom: 120px;
}

.channelMixer .btn-xs{
/*    margin: 5px 0 5px 23px;*/
    display:block;
    margin: 7px auto;
}


.channelMixer .btn-mini.active{
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.30), 0 1px 2px rgba(0,0,0,.05) !important;
}